<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Lindaus Babymonitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


<div class="container-fluid bg-secondary h-100 pt-3">
  <div class="container bg-dark text-center align-middle">
    <div class="row">
      <div class="col">
       
      </div>
      <div class="col-3 countdown text-light align-top">
        <h2><span id="timertext"></span>s</h2>
      </div>
      <div class="col-3 countdown text-light align-top">
        <h2><span id="dutytext"></span>%</h2>
      </div>
      <div class="col">
       
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-1"></div>
      <div class="col text-center">
        <button type="button" class="btn btn-secondary btn-lg" id="iroffbutton">IR av</button><p id="offdemo"></p>
      </div>
      <div class="col-3 align-bottom">
        <input type="range" class="form-control-range " value ="10" min="1" max="20" step="1" id="timerslider"><br>
        
      </div>
      <div class="col-3 align-bottom">
        <input type="range" class="form-control-range" min="0" max="100" step="5" id="dutyslider">
      </div>
      <div class="col">
        <button type="button" class="btn btn-warning btn-lg" id="ironbutton">IR på</button><p id="ondemo"></p>
      </div>
      <div class="col-1"></div>
    </div>


    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img src="http://192.168.1.188:8000/stream.mjpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row py-3">
      <div class="col-5"></div>
      <div class="col-2">
         <h1><span id="timeLeft">0.0</span></h1>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</div>
  
<script type="text/javascript" src="/static/babymon/app.js"></script>
</body>
</html>

